body {
    text-align: center;
    margin: 0px;
    background-color: black;
    min-height: 5750px;
}

.space {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
}

.vivek {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    position: absolute;
    top: 7%;
    left: 25%;
    font-size: 40px;
    width: 50%; 
    place-content: center;
}

.stats {
    position: absolute;
    top: 25%;
    left: 29%;
    width: 20%; 
}

.badge-base {
    position: absolute;
    top: 25%;
    left: 51%;
    width: 50%; 
}

.music {
    font-family: 'Press Start 2P', cursive;
    color: black;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 0%;
    font-size: 30px;
    width: 100%; 
    min-height: 5vw;
    display: flex;
    align-items: center;
    place-content: center;
}

.spotify {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 40%; 
    min-height: 60vh;
    place-content: center;
}

.moonlight {
    position: absolute;
    top: 155%;
    left: 30%;
    width: 40%; 
    place-content: center;
}

.youtube {
    position: absolute;
    top: 180%;
    left: 0%;
    width: 100%; 
    min-height: 100vh;
    place-content: center;
}

.plugins {
    font-family: 'Press Start 2P', cursive;
    color: black;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 300%;
    left: 0%;
    font-size: 30px;
    width: 100%; 
    min-height: 5vw;
    display: flex;
    align-items: center;
    place-content: center;
}

.pulp-fiction-title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: absolute;
    top: 320%;
    left: 41%;
    font-size: 20px;
    width: 18%;
    height: 5%;
}

.pulp-fiction-image {
    position: absolute;
    top: 330%;
    left: 30%;
    width: 40%;
    border: 1px solid white;
    border-radius: 5px;
}

.pulp-fiction-details {
    font-family: monospace, monospace;
    color: white;
    text-align: justify;
    position: absolute;
    top: 373%;
    left: 30%;
    width: 40%;
    font-size: 18px;
    padding-top: 0.5%;
    text-decoration: none;
}

.pulp-fiction-github {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 385%;
    left: 30%;
    width: 8%;
    height: 30px;
    font-size: 15px;
    background-color: #0D1117;
    padding-top: 15px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
}

.sound-of-music-title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: absolute;
    top: 400%;
    left: 38%;
    font-size: 20px;
    width: 24%;
    height: 5%;
}

.sound-of-music-image {
    position: absolute;
    top: 410%;
    left: 30%;
    width: 40%;
    border: 1px solid white;
    border-radius: 5px;
}

.sound-of-music-details {
    font-family: monospace, monospace;
    color: white;
    text-align: justify;
    position: absolute;
    top: 462%;
    left: 30%;
    width: 40%;
    font-size: 18px;
    padding-top: 0.5%;
    text-decoration: none;
}

.sound-of-music-github {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 475%;
    left: 30%;
    width: 8%;
    height: 30px;
    font-size: 15px;
    background-color: #0D1117;
    padding-top: 15px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
}

.fusion-title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: absolute;
    top: 490%;
    left: 38%;
    font-size: 20px;
    width: 24%;
    height: 5%;
}

.fusion-image {
    position: absolute;
    top: 500%;
    left: 30%;
    width: 40%;
    border: 1px solid white;
    border-radius: 5px;
}

.fusion-details {
    font-family: monospace, monospace;
    color: white;
    text-align: justify;
    position: absolute;
    top: 604%;
    left: 30%;
    width: 40%;
    font-size: 18px;
    padding-top: 0.5%;
    text-decoration: none;
}

.fusion-github {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 618%;
    left: 30%;
    width: 8%;
    height: 30px;
    font-size: 15px;
    background-color: #0D1117;
    padding-top: 15px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
}